<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <!-- CSS -->
  {% if site.versions.google_fonts %}<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ site.versions.google_fonts }}">{% endif %}
  {% if site.versions.font_awesome %}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.versions.font_awesome }}/css/font-awesome.css">{% endif %}
  {% if site.versions.bootstrap %}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.versions.bootstrap }}/css/bootstrap.css">{% endif %}

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ '/src/images/favicon/favicon.ico' | prepend: site.baseurl }}">
</head>
